html {
    font-size: 1em;
    line-height: 1.4;
    font-family: sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body > * {
    width: 1500px;
    padding: 30px 10px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.heading h1, .heading h2 {
    margin: 0;
}

.dropdown {
    display: flex;
    align-items: center;
}

.dropdown > select {
    height: 30px;
    width: 150px;
}

#map-section {
    display: flex;
    flex-direction: column;
}

#map {
    margin: 0 auto;
}

.district:hover {
    fill: #a50f15;
    cursor: pointer;
}

#district-indicator {
    margin-top: 30px;
    text-align: center;
}

#district {
    font-weight: bold;
}

#resetDistrictLink {
    display: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0;
}

#chart-section {
    display: flex;
    justify-content: space-between;
}

.chart-wrapper {;
    width: calc(100% / 4.3);
    text-align: center;
}

.chart-wrapper h3 {;
    height: 60px;
    margin: 0 0 10px 0;
}

.chart {
    height: 300px;
    background-color: #ececec;
}

rect {
    fill: chocolate;
    fill-opacity: 0.8;
}

rect:hover {
    fill-opacity: 1;
}

.line {
    fill: none;
    stroke: chocolate;
    stroke-width: 3;
}

#alarmTypeBarChart, #mostActiveBrigadesBarChart, #averageCallDurationBarChart, #alarmsPerDayLineChart {
    position: relative;
    margin-left: -152px;
}

#alarmTypeBarChart {
    z-index: 3;
}

#mostActiveBrigadesBarChart {
    z-index: 2;
}

#mostActiveBrigadesBarChart {
    z-index: 1;
}

#tooltip {
    display: none;
    position: absolute;
    padding: 5px;
    fill: black;
    background-color: white;
    border: 1px solid black;
    font-size: 12px;
}

.loader {
    margin: 0 auto;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid chocolate; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
